* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(65, 52, 52);
    font-family: 'Leckerli One', cursive;
    font-size: large;
    background-color: rgb(246, 211, 217);
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.gif {
    height: 100%;
    width: 100%;
}

.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; /* Added for vertical centering */
    position: relative; /* Ensure the buttons are positioned relative to this container */
    margin-top: 50px;
}

button {
    position: absolute;
    width: 150px;
    font-size: 1.2em;
    color: white;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    top: 50%; /* Center the button vertically */
    transform: translateY(-50%); /* Adjust the button's position to truly center it */
}

button:nth-child(1) {
    background: #e94d58;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button horizontally and vertically */
}

button:nth-child(2) {
    background: white;
    color: #e94d58;
    right: 50%;
    transform: translate(50%, -50%); /* Center the button horizontally and vertically */
}

/* CSS Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .btn-group {
        flex-direction: column; /* Stack the buttons vertically on smaller screens */
        height: auto; /* Adjust height to accommodate stacked buttons */
    }

    button {
        position: relative; /* Change to relative positioning on mobile */
        margin: 10px auto; /* Add margin and auto for horizontal centering */
        left: 0; /* Reset left position */
        right: 0; /* Reset right position */
        top: 0; /* Reset top position */
        transform: none; /* Remove transform as it's no longer needed */
        width: 80%; /* Adjust the button width for smaller screens */
    }
}
